<%= form_with(model: credit_request, local: true) do |form| %>
  <% if credit_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_request.errors.count, "erro(s)") %> impedem que esta solicitação seja salva:</h2>

      <ul>
        <% credit_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12 mb-3">
    <%= form.label 'Selecione um Solicitante Cadastrado' %>
    <%= form.collection_select :requester_id, Requester.order('company_name ASC'), :id, :company_name %>
  </div>
  <div class="col-md-12 mb-3"> 
    <%= form.text_field :value, placeholder: 'Valor(R$)', class:'col-md-4' %>
    <%= form.text_field :taxa, placeholder: 'Taxa(%)', class:'col-md-2' %>
    <%= form.number_field :periods, placeholder: 'Nº de períodos', class:'col-md-2' %>
  </div>

  <div class="field">
  </div>

  <hr>

  <div class="actions text-center mt-5">
    <%= form.submit 'Enviar', class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
