<%= form_with(model: credit_request, local: true) do |form| %>
  <% if credit_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_request.errors.count, "error") %> prohibited this credit_request from being saved:</h2>

      <ul>
        <% credit_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :taxa %>
    <%= form.text_field :taxa %>
  </div>

  <div class="field">
    <%= form.label :periods %>
    <%= form.number_field :periods %>
  </div>

  <div class="field">
    <%= form.label :requester_id %>
    <%= form.collection_select :requester_id, Requester.order('company_name ASC'), :id, :company_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
