<p id="notice"><%= notice %></p>

<%= link_to new_credit_request_path, class:'btn btn-info mb-5 float-right' do %>
  <i class="fa fa-plus"></i> Nova Solicitação
<% end %> 
<h1>Solicitações de Crédito</h1>
<table class="table">
  <thead>
    <tr>
      <th>Value</th>
      <th>Taxa</th>
      <th>Periods</th>
      <th>Requester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_requests.each do |credit_request| %>
      <tr>
        <td><%= credit_request.value %></td>
        <td><%= credit_request.taxa %></td>
        <td><%= credit_request.periods %></td>
        <td><%= credit_request.requester_id %></td>
        <td>
          <%= link_to 'Ver', credit_request, class:'btn btn-sm btn-primary' %>
          <%= link_to 'Editar', edit_credit_request_path(credit_request), class:'btn btn-sm btn-primary' %>
          <%= link_to 'Excluir', credit_request, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

