<p id="notice"><%= notice %></p>


<div class="alert alert-info">

  <h3>Solicitação de Crédito (Nº <%= @credit_request.id %>)</h3>
  <hr>

  <div class="col-md-12 mb-3">
    <strong>Empresa Solicitante:</strong>
    <%= @credit_request.requester.company_name %>
  </div>

  <div class="col-md-12 mb-3">
    <strong>Valor Solicitado:</strong>
    <%= @credit_request.value %> <span class="badge badge-warning">Taxa <%= @credit_request.taxa %>% a.m.</span>
  </div>

  <div id="result" class="col-md-12 mb-5 text-center">
    <span class="alert alert-warning"><small><%= @credit_request.periods %>x</small> R$ <%= @credit_request.calc.round(2) %></span>
  </div>
  
</div>

<br>
<%= link_to 'Voltar', credit_requests_path %>
