<p id="notice"><%= notice %></p>

VALOR DAS PARCELAS:  <%= @credit_request.calc %>


<p>
  <strong>Value:</strong>
  <%= @credit_request.value %>
</p>

<p>
  <strong>Taxa:</strong>
  <%= @credit_request.taxa %>
</p>

<p>
  <strong>Periods:</strong>
  <%= @credit_request.periods %>
</p>

<p>
  <strong>Requester:</strong>
  <%= @credit_request.requester_id %>
</p>


<%= link_to 'Voltar', credit_requests_path %>
