<%= form_with(model: requester, local: true) do |form| %>
  <% if requester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requester.errors.count, "error") %> prohibited this requester from being saved:</h2>

      <ul>
      <% requester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h5>Dados da Empresa</h5>
  <div class="col-md-12 mb-3">
    <%= form.text_field :company_name, placeholder: 'Razão Social', class:'col-md-5' %>
    <%= form.text_field :cnpj, placeholder: 'CNPJ', class:'col-md-4' %>
  </div>

  <hr/>
  <h5>Endereço</h5>
  <%= link_to_add_association form, :addresses, 
    class: 'btn btn-sm btn-info',
    'data-association-insertion-node' => "#dynamicAddress",
    'data-association-insertion-method' => "append",
    :wrap_object => Proc.new {|address| address.build_requester; address} do %>
    <b>+</b> Adicionar Endereço  
  <% end %>
  <hr/>


  <fieldset id="dynamicAddress">
    <%= form.fields_for :addresses do |address| %>
      <%= render 'address_fields', f: address  %>
    <% end %>
  </fieldset>

  <hr/>
  <h5>Contato</h5>
  <%= link_to_add_association form, :telephones, 
    class: 'btn btn-sm btn-info',
    'data-association-insertion-node' => "#dynamicPhone",
    'data-association-insertion-method' => "append",
    :wrap_object => Proc.new {|telephone| telephone.build_requester; telephone} do %>
    <b>+</b> Adicionar Contato  
  <% end %>
  <hr/>

  <fieldset id="dynamicPhone">
    <%= form.fields_for :telephones do |telephone| %>
      <%= render 'telephone_fields', f: telephone  %>
    <% end %>
  </fieldset>

  <hr/>
  
  <div class="actions text-center mt-5">
    <%= form.submit 'Salvar', class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
