<div class="nested-fields">
    <div class+"row">
      <%= f.label :ddd %>
      <%= f.text_field :ddd %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>
      
      <%= link_to_remove_association "remove", f %>
    </div>
</div>
