<p id="notice"><%= notice %></p>

<p>
  <strong>Razão Social:</strong>
  <%= @requester.company_name %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @requester.cnpj %>
</p>

<%= link_to 'Editar', edit_requester_path(@requester) %> |
<%= link_to 'Voltar', requesters_path %>
