<p id="notice"><%= notice %></p>

<p>
  <strong>Razao social:</strong>
  <%= @requester.razao_social %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @requester.cnpj %>
</p>

<%= link_to 'Edit', edit_requester_path(@requester) %> |
<%= link_to 'Back', requesters_path %>
