<%= form_with(model: telephone, local: true) do |form| %>
  <% if telephone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(telephone.errors.count, "erro(s)") %> impedem que este contato seja salvo:</h2>

      <ul>
        <% telephone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ddd %>
    <%= form.text_field :ddd %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :requester_id %>
    <%= form.text_field :requester_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
